@model WebUI.Areas.Admin.ViewModels.RoomTypes.EditRoomTypeImageViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["EditRoomTypesImageTitle"];
}
@section Styles{
    <link href="assets/plugins/custom/cropper/cropper.bundle.css" rel="stylesheet" type="text/css" />
}
@section Scripts{

    <script src="assets/plugins/custom/cropper/cropper.bundle.js"></script>

    <script>var image = document.getElementById('image');

        var options = {
            aspectRatio: 16 / 9,
            crop: function (event) {

            },
        };

        var cropper = new Cropper(image, options);

        $("#CropImage").on('click', function () {
            if (cropper) {
                canvas = cropper.getCroppedCanvas();
                console.log(canvas);

                var avatar = canvas.toDataURL();

                @*$progress.show();
                $alert.removeClass('alert-success alert-warning');*@
                canvas.toBlob(function (blob) {
                    var formData = new FormData();

                    formData.append('avatar', blob, 'avatar.jpg');
                    $.ajax('/files/upload', {
                        method: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,

                        xhr: function () {
                            var xhr = new XMLHttpRequest();

                            xhr.upload.onprogress = function (e) {
                                var percent = '0';
                                var percentage = '0%';

                                if (e.lengthComputable) {
                                    percent = Math.round((e.loaded / e.total) * 100);
                                    percentage = percent + '%';
                                    console.log(percent);
                                    @*$progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);*@
                                }
                            };

                            return xhr;
                        },

                        success: function (resp) {
                            console.log(resp);
                            $("#image").src = resp.url;
                            $("#imageInput").val(resp.url);
                            cropper.reset();

                        },

                        error: function () {
                            avatar.src = initialAvatarURL;
                            $alert.show().addClass('alert-warning').text('Upload error');
                        },

                        complete: function () {

                        },
                    });
                });
            }
        });</script>
}
<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title font-size-h1 text-dark font-weight-bolder mr-3 mb-0">
            @Model.Name
        </h3>

    </div>
    <!--begin::Form-->

    <form class="form" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <div class="mb-3" style="height : 358px;">
                        <img id="image" src='@Model.Image' alt="" />
                    </div>
                </div>
                <div id="cropper-buttons" class="col-lg-3">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary mb-3" id="CropImage" title="Crop">
                            <span data-toggle="tooltip" title="cropper.setDragMode(&quot;crop&quot;)">
                                <span class="fa fa-crop-alt"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="Image" id="imageInput" />
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary mr-2">@Localizer["Submit"]</button>
            <button type="reset" class="btn btn-secondary">@Localizer["Cancel"]</button>
        </div>
    </form>
    <!--end::Form-->
</div>
