@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model Application.CQRS.Roles.Commands.Update.UpdateRoleCommand

@{
    ViewData["Title"] = Localizer["Edit Role"];
}
@{
    var claimGroups = Application.Common.Models.SystemClaims.GetSystemClaims();
}
@section Scripts{
    <partial name="_ValidationscriptsPartial" />

    <script>
             $('#deleteBtn').on('click', function () {
                 var deleteBtn = $('#deleteBtn');

            Swal.fire({
                icon: "warning",
                title: "@Localizer["Are you sure to delete?"]",
                showCancelButton: true,
                buttonsStyling: false,
                showLoaderOnConfirm: true,
                confirmButtonText: "@Localizer["Yes, delete"]",
                cancelButtonText:"@Localizer["No, Cancel."]",
                allowOutsideClick: () => !Swal.isLoading(),
                customClass: {
                    confirmButton: "btn fw-bold btn-primary",
                    cancelButton: "btn fw-bold btn-danger",
                },
            }).then((res) => {
                if (res.isConfirmed) {
                    deleteBtn.attr("data-kt-indicator", "on");

                    $.ajax({
                       type: 'POST',
                       url: "/admin/roles/delete",
                       data: JSON.stringify({
                           "Id" : '@Model.Id',
                       }),
                        contentType:'application/json',
                        processData: false,
                        success: function (res) {
                            deleteBtn.removeAttr("data-kt-indicator");
                            Swal.fire({
                                text: "@Localizer["Deleted!"]",
                                icon: "success",
                                buttonsStyling: false,
                                confirmButtonText: "@Localizer["Ok, Go Back!"]",
                                showCancelButton: true,
                                customClass: {
                                    confirmButton: "btn fw-bold btn-primary",
                                    cancelButton: "btn fw-bold btn-success",
                                }
                            }).then((res) => {
                                console.log('response',res);
                                if (res.isConfirmed) {
                                    window.location = document.referrer;
                                }
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            deleteBtn.removeAttr("data-kt-indicator");
                            Swal.fire({
                                text: "@Localizer["Something went wrong"]",
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "@Localizer["Ok!"]",
                                customClass: {
                                    confirmButton: "btn fw-bold btn-primary",
                                }
                            });
                        }
                    });
                }
            });

        });

    </script>
}
<!--begin::Card-->
<div class="card">

    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            @ViewBag.Title
        </div>
        <!--begin::Card title-->
    </div>
    <form method="post">

        <!--begin::Card body-->
        <div class="card-body pt-0">
            <div asp-validation-summary="All"></div>

            <div class="d-flex flex-column flex-md-row gap-5">
                <div class="flex-row-fluid">
                    <label asp-for="Name" class="fs-6 fw-bold form-label mt-3"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>

            @foreach (var group in claimGroups)
            {
                <div class="d-flex flex-column flex-md-row gap-5 pt-8">

                    <div class="flex-row-fluid">
                        <h5>@group.GroupName</h5>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row gap-5">
                    <div class="row w-100">
                        @foreach (var claim in group.Claims)
                        {
                            var checkboxChecked = Model.Claims.Contains(claim.Value) ? "checked" : "";
                            <div class="col-lg-4 col-md-6">
                                <label class="fs-6 fw-bold mt-3 form-check form-switch form-check-custom form-check-solid">
                                    <input @checkboxChecked class="form-check-input" type="checkbox" name="Claims" value="@claim.Value">
                                    <span class="form-check-label fw-bold text-muted">@claim.Key</span>
                                </label>
                            </div>
                        }
                    </div>

                </div>
            }
            <input asp-for="Id" type="hidden" />
        </div>
        <!--end::Card body-->
        <!--begin::Card footer-->
        <div class="card-footer pt-4" id="kt_drawer_chat_messenger_footer">
            <!--begin:Toolbar-->
            <div class="d-flex flex-stack">
                <!--begin::Actions-->
                <div class="d-flex align-items-center me-2">
                    <button class="btn btn-danger" type="button" id="deleteBtn">
                        <span class="indicator-label">
                            @Localizer["Delete"]
                        </span>
                        <span class="indicator-progress">
                            @Localizer["Please wait"]... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                </div>
                <!--end::Actions-->
                <!--begin::Send-->
                <button class="btn btn-primary" type="submit" data-kt-element="send">@Localizer["Submit"]</button>
                <!--end::Send-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card footer-->
    </form>

</div>
