@model WebUI.Areas.Admin.ViewModels.Translations.EditTranslationViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["EditTranslationTitle"];
}

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title font-size-h1 text-dark font-weight-bolder mr-3 mb-0">
            @Model.Key / @Model.LangCode
        </h3>

    </div>
    <!--begin::Form-->

    <form class="form" method="post">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Text"></label>
                <input asp-for="Text" class="form-control" />
                <span class="form-text text-danger" asp-validation-for="Text"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="LangCode" />
            <input type="hidden" asp-for="ResourceKey" />
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary mr-2">@Localizer["Submit"]</button>
            <button type="reset" class="btn btn-secondary">@Localizer["Cancel"]</button>
        </div>
    </form>
    <!--end::Form-->
</div>
