@inject Application.Common.Models.ConfigModels.TenantInfo tenant
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@model WebUI.Models.ViewModels.Rooms.RoomsIndexViewModel

@section Meta{
    <title>@tenant.StaticPages.Home.SEO.Title | @tenant.Domain</title>
    <meta name="keywords" content="@tenant.StaticPages.Home.SEO.Keywords" />
    <meta name="description" content="@tenant.StaticPages.Home.SEO.Description" />
    @foreach (var lang in tenant.Languages)
    {
        <link rel="canonical" href="https://@tenant.Domain/@lang.Culture/" />
    }
}

@section Headers{

    @Html.Raw(tenant.StaticPages.Home.Headers is null ? "" :
    string.Join("", tenant.StaticPages.Home.Headers))
}

<div class="bgi-size-cover bgi-position-center bg-image" style="background-image: url('/assets/media/static/homeintro_old.jpg');">
    <div class="w-100 h-100" style="background: linear-gradient(90deg, rgba(39, 50, 74, 0.7) 0%, rgba(0, 0, 0, 0) 100%);">
        <div class="container">
            <div class="d-flex align-items-stretch flex-column py-20 py-md-40">
                <div class="w-100 w-md-50">
                    <!--begin::Heading Slogan-->
                    <h1 class="text-white font-weight-bolder mb-12 display-3">@tenant.Slogan</h1>
                    <!--end::Heading-->
                    <a asp-action="Create" asp-controller="Rooms" class="btn btn-primary font-weight-bolder h4 text-uppercase">
                        <span class="svg-icon svg-icon-xl">
                            <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo5/dist/../src/media/svg/icons/Navigation/Plus.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1" />
                                    <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                        @Localizer["Create Announcement"]
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<!--begin::About Us (short)-->
<div class="d-none d-md-flex flex-column-fluid">
    <div class="container pt-15">
        <div class="w-100 d-flex justify-content-start mb-5">
            <h1 class="font-weight-bolder">@Localizer["AboutUs"]</h1>
        </div>
        <div class="d-flex">
            <div class="w-50">
                <div class="h4">
                    @Html.Raw(tenant.ShortDescription)
                </div>
            </div>
            <div class="w-50 d-flex align-self-center">
                <div class="w-100 d-flex justify-content-end">
                    <img class="w-100 h-75 pl-15" src="@tenant.Logo" alt="@tenant.Domain Logo" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::About Us (short)-->
@if (Model.Rooms.Count > 0 || true)
{
    <!--begin::Last Announcements-->
    <div class="d-flex flex-column-fluid">
        <div class="container pt-15">
            <div class="w-100 d-flex justify-content-start mb-5">
                <h1 class="font-weight-bolder">@Localizer["LastAnnouncements"]</h1>
            </div>
            <div class="row">
                @foreach (var room in Model.Rooms)
                {
                    <div class="col-md-4 col-lg-12 col-xxl-4">
                        <div class="card card-custom gutter-b card-stretch">
                            <div class="card-body d-flex flex-column rounded bg-light justify-content-between  p-2">
                                <a href="@room.Url" class="text-center rounded mb-7">
                                    <img loading="lazy" src="@room.MediaUrl" alt="@room.MediaAltTag" class="w-100 h-300px img-fluid rounded" style="object-fit:cover;">
                                </a>
                                <div class=" d-flex align-items-center me-2 justify-content-between">
                                    <div>
                                        <h4 class="font-size-h5">
                                            @room.Title
                                        </h4>
                                        <div class="font-size-h6 text-muted font-weight-bolder">
                                            @room.Price AZN
                                        </div>
                                    </div>
                                    <span class="d-flex justify-content-end mb-2"><i class="la la-bookmark-o icon-3x"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-link pr-0" asp-action="Search" asp-controller="Rooms"><i>@Localizer["Show All"]</i><i class="pr-0 pl-2 icon-md la la-angle-down"></i> </a>
            </div>
        </div>
    </div>
    <!--end::Last Announcements-->
}

<!--begin:: Contact us-->
<div class="mt-15 mb-10 bgi-size-cover bgi-position-center bg-image" style="background-image: url('/assets/media/static/subscribeus.jpg');">
    <div class="w-100 h-100" style="background: linear-gradient(90deg, rgba(39, 50, 74, 1) 25%, rgba(0, 0, 0, 0) 100%);">
        <div class="container">
            <div class="d-flex align-items-stretch flex-column py-8 py-md-15">
                <div class="col-md-6 col-lg-4">
                    <!--begin::Heading Slogan-->
                    <h1 class="text-white font-weight-bolder">@Localizer["Keep in touch with us"]</h1>
                    <form id="subscribe">
                        <div class="form-group">
                            <input name="Name" class="form-control" placeholder="Ad/Soyad" />
                        </div>
                        <div class="form-group">
                            <input name="Email" class="form-control" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <input name="Telephone" class="form-control" placeholder="Telefon" />
                        </div>
                        <button class="btn btn-primary font-weight-bolder h4 text-uppercase">
                            @Localizer["Subscribe"]
                        </button>
                    </form>
                    <!--end::Heading-->

                </div>

            </div>
        </div>
    </div>
</div>
<!--end:: Contact us-->