@model Application.CQRS.Managers.Commands.UpdateManagerRoles.UpdateManagerRolesAndClaimsCommand

@{
    ViewData["Title"] = "Edit Manager Permissions";
}
@{
    var claimGroups = Application.Common.Models.SystemClaims.GetSystemClaims();

    var roles = $"[";
    var convertedIds = Model.RoleIds.Select(x => $"\'{x}\'").ToArray();
    roles += string.Join(',', convertedIds);
    roles += "]";
}


@section Scripts{
    <script>
        var preSelectedRoles = @Html.Raw(roles);
        var claimsUpdated = @(Model.Claims != null && Model.Claims.Count > 0 ? "true":"false");
        $.ajax({
            url: "/admin/roles/get",
            type: 'GET',
            success: function (res) {

                res.forEach(function (data, index, arr) {
                    var newOption = new Option(data.text, data.id, false, preSelectedRoles.includes(data.id));
                    $("#RoleIds").append(newOption);
                });
                $("#RoleIds").trigger('refresh');
                if (!claimsUpdated) {
                    $("#RoleIds").trigger('change');
                }

            }
        });

        $('#RoleIds').on('change', function () {
            claimsUpdated = false;
            var selectedRoles = $('#RoleIds').val();
            $("input:checkbox").prop('checked', false);
            selectedRoles.forEach(function (id, index, selectedRoles) {
                $.ajax({
                    url: "/admin/roles/getrole/" + id,
                    type: 'GET',
                    success: function (res) {
                        res.forEach(function (data, index, arr) {
                            $(":checkbox[value='" + data.id + "']").prop("checked", "true");
                        });

                    }
                });
            });

        });
    </script>
}
<!--begin::Card-->
<div class="card">

    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            @ViewBag.Title
        </div>
        <!--begin::Card title-->
    </div>
    <form method="post">

        <!--begin::Card body-->
        <div class="card-body pt-0">
            <div class="d-flex flex-column flex-md-row gap-5">
                <div class="flex-row-fluid">
                    <label asp-for="RoleIds" class="fs-6 fw-bold form-label mt-3"></label>
                    <select asp-for="RoleIds" class="form-select" data-control="select2" data-placeholder="Select"></select>
                    <span asp-validation-for="RoleIds"></span>
                </div>
            </div>

            @foreach (var group in claimGroups)
            {
                <div class="d-flex flex-column flex-md-row gap-5">

                    <div class="flex-row-fluid">
                        <label>@group.GroupName</label>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row gap-5">
                    @foreach (var claim in group.Claims)
                    {
                        var checkboxChecked = Model.Claims == null ? "" : Model.Claims.Contains(claim.Value) ? "checked" : "";
                        <div class="flex-row-fluid">
                            <label class="fs-6 fw-bold mt-3 form-check form-switch form-check-custom form-check-solid">
                                <input @checkboxChecked class="form-check-input" type="checkbox" name="Claims" value="@claim.Value">
                                <span class="form-check-label fw-bold text-muted">@claim.Key</span>
                            </label>
                        </div>
                    }

                </div>
            }
            <input asp-for="Id" type="hidden" />
        </div>
        <!--end::Card body-->
        <!--begin::Card footer-->
        <div class="card-footer pt-4" id="kt_drawer_chat_messenger_footer">
            <!--begin:Toolbar-->
            <div class="d-flex flex-stack">
                <!--begin::Actions-->
                <div class="d-flex align-items-center me-2">

                </div>
                <!--end::Actions-->
                <!--begin::Send-->
                <button class="btn btn-primary" type="submit" data-kt-element="send">Submit</button>
                <!--end::Send-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card footer-->
    </form>

</div>
